h1{
    color: rgb(255, 0, 119);
    font-size: 50px;
    text-shadow: 4px 4px 8px gray;
}

button{
    background-color: rgb(255, 0, 119);
    color: white;
    width: 180px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(255, 102, 178);
    cursor: pointer;
}

img{
    width: 350px;
    height: 300px;
}
