

form{
    background-color: rgb(46, 169, 209);
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    color: white;
}

legend{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

button{
    width: 100%;
    height: 45px;
    background-color: rgb(255, 87, 34);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}   
