h1{
    text-align: center;
    color: #333;
}

#heading1{
   font-size: 40px;
   background-color: black;
   color: white;
   text-align: center;
}

.paragraph{
    font-weight: bold;
}

#VIP{
    background-color: gold;
    display: flex;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;

}

#VIP:hover{
    color:blue;
}

#surprises{
    display: flex;
    background-image: url("/Assets/surprise.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
#surprises img{
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;
}
